---
import Layout from "../layouts/Layout.astro";
---

<Layout title="APSEG - Contact">
  <main>
    <h1>Contact</h1>
    <p class="instructions">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quidem
      illo nostrum provident porro delectus ipsum omnis atque repellat. Expedita
      dignissimos sunt eaque, saepe laborum veniam libero ullam mollitia rem.
    </p>
  </main>
</Layout>
