---
import Layout from "../layouts/Layout.astro";
---

<Layout title="APSEG - Contact">
  <main>
    <h1>Contact</h1>

    <p>
      Cité Scolaire Internationale Europole <br />
      4, place de Sfax - BP 1570 <br />
      38012 GRENOBLE Cedex 1 <br />
      mail : <a href="mailto:apsegrenoble@gmail.com">apsegrenoble@gmail.com</a>
    </p>

    Membres du conseil d'administration:
    <ul>
      <li>Andrea GARBARINO (présidente)</li>
      <li>Emilio LORENZO DIAZ (sécretaire)</li>
      <li>María Luisa CALVO MUÑOZ (trésorière)</li>
      <li>Mónica BURRIEL LOPEZ</li>
      <li>Marisa MARTINEZ</li>
      <li>Jean-François PONSOT</li>
    </ul>
    <br><br><br><br>
    Webmaster: <a href="https://github.com/rafalou38">Rafael Martinez Calvo</a>
  </main>
</Layout>
