---
import Layout from "../layouts/Layout.astro";
---

<Layout title="APSEG">
  <main>
    <h1>
      ASSOCIATION DES PARENTS D'ELEVES DE LA SECTION ESPAGNOLE DE GRENOBLE
    </h1>
    <p>
      L’Association a pour objet, sans aucun but lucratif, de promouvoir
      l’apprentissage de la langue espagnole, ainsi que la diffusion de la
      culture des pays de langue espagnole, au sein de la section espagnole de
      Grenoble qui comprend l’Ecole Bizanet, le Collège et le Lycée
      International Europole de Grenoble. Dans cet esprit : L’Association
      organisera ou soutiendra toute activité ayant le caractère de complément
      pédagogique, culturel ou sportif, ou de nature à favoriser la
      compréhension et l’amitié entre la France et les pays de langue espagnole,
      et plus généralement entre toutes les nations représentées dans les
      centres scolaires. L’Association sera un instrument de dialogue avec la
      Direction des établissements CSI et Bizanet, la direction de la Section
      Espagnole et le corps enseignant. Elle favorisera les échanges sur les
      questions de scolarité, d’organisation ou d’insertion qui pourraient se
      poser aux enfants inscrits à la section.
    </p>
  </main>
</Layout>

<style>
  h1 {
    text-transform: capitalize;
    font-size: 1.5em;
    text-align: center;
    text-decoration: underline;
    margin: 1em;
    margin-top: 2em;
  }

  p {
    text-align: justify;
  }
</style>
