---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="APSEG">
  <main>
    <h1>Brunch des associations</h1>

    <div>
      <p class="MsoNormal">
        <span>
          Le Brunch aura lieu le <b>
            samedi 3 juin, entre&nbsp; 9h30 et 12h30</b
          >
          . En suivant la même idée de l'année dernière, chacune des associations
          des sections vont proposer une dégustation de leur spécialités culinaires.
          De coté de l'APSEG, on vous propose
        </span>
      </p>
    </div>
    <div>
      <ul>
        <li
          class="MsoNormal"
          style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;mso-list:l0 level1 lfo1"
        >
          <span>
            Apporter de produits et spécialités à déguster et préparés ou
            apportés par les familles.</span
          >
        </li>
        <li
          class="MsoNormal"
          style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;mso-list:l0 level1 lfo1"
        >
          <span>
            Gestion d’un stand par l’APSEG avec vente (à prix très modérés).</span
          >
        </li>
        <li
          class="MsoNormal"
          style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;mso-list:l0 level1 lfo1"
        >
          <span> Nécessaire d’avoir 3 ou 4 personnes pour tenir le stand.</span>
        </li>
        <li
          class="MsoNormal"
          style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;mso-list:l0 level1 lfo1"
        >
          <span> Les fonds collectés iront à l’APSEG.</span>
        </li>
        <li
          class="MsoNormal"
          style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;mso-list:l0 level1 lfo1"
        >
          <span> Pas de réchaud à gaz, mais électrique.</span>
        </li>
        <li
          class="MsoNormal"
          style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;mso-list:l0 level1 lfo1"
        >
          <span>
            Les boissons non alcoolisées seront fournies par l'APSEG. <u>
              Boissons alcoolisées sont autorisées</u
            >
          </span>
        </li>
      </ul>
      <div>
        <p class="MsoNormal" style="margin-bottom:12.0pt">
          <span>
            Comme l'année dernière, il aura un stand avec café. Et pour éviter
            le gaspillage il y aura de gobelets en consigne de 1€.</span
          >
        </p>
      </div>
      <div>
        <p class="MsoNormal">
          <b>
            <span> Animation musicale avec une scène commune&nbsp;</span>
          </b>
        </p>
      </div>
      <p>
        <span>
          Mme DeGroote s'en occupe de coordonner les animations des élèves
          (musique, théâtre, pantomimes,...). Le délai est vraiment très court
          cette année et pour l'instant nous n'avons pas un programme
          d'activités arrêté. La section portugaise a proposé l'actuation d'un
          groupe musicale avec des chansons populaires. Pour le reste on attend
          des nouvelles de Mme Degroote. On vous tiendra informés des
          évolutions.
        </span>
      </p>
      <p>
        <span> Merci de vos contributions.</span>
      </p>
      <p>
        <span> En espérant vous voir nombreux le samedi 3 Juin,</span>
      </p>
    </div>
  </main>

  <style>
    h1 {
      text-transform: capitalize;
      font-size: 1.5em;
      text-align: center;
      text-decoration: underline;
      margin: 1em;
      margin-top: 2em;
    }

    p {
      text-align: justify;
    }
  </style>
</Layout>
