---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="APSEG">
  <main>
    <h1>
      Section Espagnole Internationale d'Europole et La Maison de
      L'internationale (Grenoble) - Vernissage Exposition
    </h1>
    <div class="wrapper">
      <img src="/images/events/2023-vernissage-photo.jpg" alt="" />
      <div class="text-wrapper">
        <p>
          <p>
            Le jeudi 5 octobre 2023, à 18h30, les élèves de Terminale de la
            Section Espagnole ont participé à la soirée de vernissage des
            expositions : <strong>« Les larmes du Chili »</strong>, <strong
              >« Encontrarte con ellos »</strong
            > et
            <strong>« Les affiches de la solidarité »</strong> en l'hommage des disparus
            pendant les dictatures du Chili qui a eu lieu à la Maison de l'international
            de Grenoble.
          </p>
          <p>
            L'action est inscrite dans le cadre des événements commémoratifs : <strong
            >
              "1973 – 2023 URUGUAY– CHILI Des dictatures et des exils, ni olvido
              ni perdón"
            </strong> organisé par la Mairie de Grenoble en collaboration avec diverses
            institutions et associations locales et régionales.
          </p>
          <p>
            Les élèves ont interprété en premier lieu "otra voz canta" de Circe
            Maia et Daniel Viglietti, au même temps qu'ils ont déclamé le poème
            "Desaparecidos" de Mario Benedetti. Après ils ont récité à plusieurs
            voix un poème d'Eduardo Galeano, “Día de los desaparecidos”.
            Ensuite, ils ont chanté "Todavía Cantamos" que Victor Heredia à
            écrit en homage à "las Madres de mayo". Pour conclure avec la
            mitique "A redoblar" du groupe Rumbo.
          </p>
          <p>
            lien :
            <a
              href="https://www.educacionyfp.gob.es/francia/eu/seccion-grenoble/novedades/maison-internationale.html"
              >https://www.educacionyfp.gob.es/francia/eu/seccion-grenoble/novedades/maison-internationale.html</a
            >
          </p>
          <p>
            brochure :
            <a
              href="https://ilcea4.univ-grenoble-alpes.fr/sites/default/files/Mediatheque/2023/brochure_a5_uruguay_chili_a_jour_7_sept_-_web.pdf"
              >https://ilcea4.univ-grenoble-alpes.fr/sites/default/files/Mediatheque/2023/brochure_a5_uruguay_chili_a_jour_7_sept_-_web.pdf</a
            >
          </p>
        </p>
      </div>
    </div>
  </main>
</Layout>

<style>
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
  }
  h1 {
    /* text-transform: capitalize; */
    font-size: 1.5em;
    text-align: center;
    text-decoration: underline;
    margin: 2em;
    margin-top: 2.5em;
  }

  img {
    width: 80%;
  }

  .text-wrapper {
    flex-grow: 1;
    /* text-align: justify; */
    min-width: 300px;
    width: 40%;
    padding: 0 4em;
    font-size: 1.2rem;
  }
</style>
