---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="APSEG">
  <main>
    <h1>Vente de polvorones 2024</h1>
    <div class="wrapper">
      <img src="/images/events/surtido-azul.jpg" alt="" />
      <div class="text-wrapper">
        <p>
          <p>
            Comme chaque année, l’association APSEG vous propose un assortiments
            de gateaux typiques de Noël « surtido, polvorones, hojaldres y
            mazapanes" pour les fêtes de fin d’année.
          </p>
          <p>
            Au-delà du plaisir de déguster en famille ou d’offrir à vos proches
            ces produits typiquement espagnols, vous participez au soutien de
            l’association. Les bénéfices de cette vente seront intégralement
            utilisés pour soutenir financièrement les projets destinés aux
            élèves de la section d'espagnol. N'hesitez pas à en parler autour de
            vous à vos familles, amis et collègues.
          </p>
          <p>
            Comment commander?<br />
            Sur le site de HelloAsso <br /><br />

            <a
              href="https://www.helloasso.com/associations/association-des-parents-d-eleves-de-la-section-espagnole-de-grenoble/boutiques/vente-de-noel-2024-mantecados-y-turrones"
              >https://www.helloasso.com/associations/association-des-parents-d-eleves-de-la-section-espagnole-de-grenoble/boutiques/vente-de-noel-2024-mantecados-y-turrones</a
            >

            <br />
            <br />
            La date limite pour passer commande est le vendredi 18 Octobre. La livraison
            aura lieu la semaine après les vacances de la Toussaint, nous vous tiendrons
            informés des dates exactes.
            <br />
            La livraison se fera exclusivement sur le site de la CSI à Europole.
            Pour les parents de Bizanet, on vous tiendra au courant de déroulement
            de la livraison.

            <br />
            En vu de la mise en place du plan vigipirate renforcé, on vous tiendra
            au courant des modalités de recuperation des colis.
          </p>

          <p>
            rappel : il n'est pas obligatoire de payer une contribution à
            l'association helloasso lors de la commande, lors du récapitulatif
            de commande vous pouvez choisir le montant ou choisir de ne pas
            soutenir helloasso.
          </p>
        </p>
      </div>
    </div>
  </main>
</Layout>

<style>
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
  }
  h1 {
    /* text-transform: capitalize; */
    font-size: 1.5em;
    text-align: center;
    text-decoration: underline;
    margin: 2em;
    margin-top: 2.5em;
  }

  img {
    width: 50%;
  }

  .text-wrapper {
    flex-grow: 1;
    text-align: justify;
    min-width: 300px;
    width: 100%;
    padding: 0 4em;
    font-size: 1.2rem;
  }
</style>
