---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="APSEG - Evenements">
  <main>
    <h1 class="">évènements</h1>
    <!-- <p class="instructions">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quidem
      illo nostrum provident porro delectus ipsum omnis atque repellat. Expedita
      dignissimos sunt eaque, saepe laborum veniam libero ullam mollitia rem.
    </p> -->


    <h2>2024-2025</h2>

    <div class="container">
      <a class="card" href="/events/2024-polvorones">
        <img src="/images/events/polvoron-de-almendra.jpg" alt="" />
        <h3>Vente de polvorones 2024</h3>
        <p class="subtitle">Date limite: <strong>18 octobre</strong></p>
      </a>
    </div>
    <h2>2023-2024</h2>
    <div class="container">
      <a class="card" href="/events/2023-semaine-hispanique">
        <img src="/images/events/2023-tapas.jpg" alt="" />
        <h3>Semaine hispanique et apéro tapas de convivialité 2023</h3>
        <p class="subtitle">Du 20 au 24 Novembre 2023</p>
      </a>
      <a class="card" href="/events/2023-polvorones">
        <img src="/images/events/polvoron-de-almendra.jpg" alt="" />
        <h3>Vente de polvorones 2023</h3>
        <p class="subtitle">Date limite: <strong>15 novembre</strong></p>
      </a>
      <a class="card" href="/events/2023-vernissage">
        <img src="/images/events/2023-vernissage.jpg" alt="" />
        <h3>La Maison de L'internationale - Vernissage exposition</h3>
        <p class="subtitle">jeudi 5 octobre</p>
      </a>
    </div>
    <h2>2022-2023</h2>
    <div class="container">
      <a class="card" href="/events/2022-semaine-hispanique">
        <img src="/images/events/semaine-hispanique.jpg" alt="" />
        <h3>Semaine Hispanique</h3>
        <p class="subtitle">Du 21 au 25 Novembre 2022</p>
      </a>
      <a class="card" href="/events/2023-brunch">
        <img src="/images/events/2023-brunch.jpg" alt="" />
        <h3>Brunch des associations</h3>
        <p class="subtitle">samedi 3 juin 2023</p>
      </a>
    </div>
  </main>
</Layout>

<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-bottom: 2rem;
  }
  .card {
    border-radius: 6px;
    padding: 1em;
    background: hsla(0, 0%, 0%, 0.025);
    color: black;
    text-decoration: none;
  }
  .card:hover {
    background: hsla(0, 0%, 0%, 0.05);
  }
  .card:active {
    background: hsla(0, 0%, 0%, 0.1);
  }
  img {
    width: 300px;
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  h1 {
    text-transform: capitalize;
  }
  h3 {
    text-wrap: wrap;
    width: 100%;
    max-width: 300px;
    text-align: center;
    /* text-decoration: underline; */
    /* text-decoration-thickness: 2px; */
    margin-bottom: 0;
  }
  .subtitle {
    margin: 0.5em;
    opacity: 0.8;
    text-align: center;
  }
  h2 {
    font-size: 2em;
    margin: 1em;
  }
</style>
